header,
header .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .links {
  flex: 1;
}

header {
  color: white;
  max-width: 100%;
  width: 988px;
  background: #101418;
  gap: 20px;
  position: relative;
  margin: 0 auto 100px;
}

@media (max-width: 845px) {
  header {
    flex-direction: column;
    width: 650px;
  }
}

@media (max-width: 768px) {
  header {
    width: 100%;
  }
}

@media (max-width: 426px) {
  header .links {
    padding-top: 15px;
  }
  header .links img.logo {
    max-width: 100%;
    width: 59px;
  }
}

header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

header ul li a {
  position: relative;
  color: #ffc;
  font-size: 19px;
  padding-bottom: 5px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
}

header ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #ffc;
  transition: all 0.3s;
}

header ul li a:hover::after {
  width: 100%;
}

@media (max-width: 991px) {
  header ul li a {
    display: none;
  }
}

header nav img {
  max-width: 100%;
  width: 24px;
  cursor: pointer;
  transition: all 0.3s;
}

header nav img:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  header ul li img {
    width: 35px;
  }
}

header .btn button {
  max-width: 100%;
  height: 76px;
  color: #ffffff;
  background-color: #a08040;
  font-size: 21px;
  font-weight: 700;
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.3s;
}

@media (min-width: 846px) {
  header .btn button {
    width: 272px;
  }
}

@media (max-width: 845px) {
  header .btn,
  header .btn button {
    width: 100%;
  }
}

header .btn button span {
  display: inline-block;
  width: 35px;
  height: 2px;
  background-color: white;
}

header .btn:hover button {
  letter-spacing: 2px;
}
