.blogs .blog-boxs .box {
  background: rgba(16, 20, 24, 0.7);
  position: relative;
  transition: all 0.3s;
}

.blogs .blog-boxs .box:hover {
  background-color: rgb(160, 128, 64, 0.7);
}

.blogs .blog-boxs .box img {
  max-width: 100%;
  width: 100%;
}

.blogs .blog-boxs .box .info {
  padding: 38px 45px;
}

.blogs .blog-boxs .box .info h3 {
  color: #fffffc;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 117.3%;
  text-transform: capitalize;
}

.blogs .blog-boxs .box .info p {
  color: #fffffc;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.3%;
  text-transform: capitalize;
  margin-top: 16px;
  margin-bottom: 35px;
}

.blogs .blog-boxs .box .info button {
  color: #fffffc;
  background-color: transparent;
  padding: 0px 20px 5px 0px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.3%;
  letter-spacing: 1.82px;
  text-transform: capitalize;
  border: none;
  outline: none;
  cursor: pointer;
  border-bottom: 1px solid #ffce6d;
}
